## Exploratory Data Analysis
## Check Correlations and Predicted vs Actual PPR Fantasy Points

- This starts with Week 1 Projected vs Actual data (since that is all we have to date)

In [1]:
import pandas as pd
import numpy as np

from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.ext.automap import automap_base

In [2]:
#create engine to the database
db_fantasy_football_2018 = create_engine('sqlite:///../fantasy_football_2018.db')

#create inspector so can see schema of database visually
inspector = inspect(db_fantasy_football_2018)

#Database Schema - verify the database has the info we are expecting by printing out all the schema visually
for table_name in inspector.get_table_names():
    for column in inspector.get_columns(table_name):
        print(table_name, column.get('name'), column.get('type'))
    print()

#other options for using SQLAlchemy sort of coding instead of traditional SQL queries
# engine = create_engine('sqlite:///raw_data/hawaii.sqlite')
# Base = automap_base()
# Base.prepare(engine, reflect=True)
# session = Session(bind=engine)
# inspector = inspect(engine)

week1_ppr_actuals PLAYER TEXT
week1_ppr_actuals POS TEXT
week1_ppr_actuals TEAM TEXT
week1_ppr_actuals FPTS_PPR_ACTUAL FLOAT
week1_ppr_actuals WEEK BIGINT

week1_ppr_projections PLAYER TEXT
week1_ppr_projections POS TEXT
week1_ppr_projections TEAM TEXT
week1_ppr_projections FPTS_PPR_ESPN FLOAT
week1_ppr_projections FPTS_PPR_CBS FLOAT
week1_ppr_projections FPTS_PPR_SHARKS FLOAT
week1_ppr_projections FPTS_PPR_SCOUT FLOAT
week1_ppr_projections FPTS_PPR_PRVS_WK_ACTUAL FLOAT

week1_ppr_projections_all_scraped PLAYER TEXT
week1_ppr_projections_all_scraped POS TEXT
week1_ppr_projections_all_scraped TEAM TEXT
week1_ppr_projections_all_scraped FPTS_PPR_ESPN FLOAT
week1_ppr_projections_all_scraped FPTS_PPR_CBS FLOAT
week1_ppr_projections_all_scraped FPTS_PPR_SHARKS FLOAT
week1_ppr_projections_all_scraped FPTS_PPR_SCOUT FLOAT
week1_ppr_projections_all_scraped FPTS_PPR_PRVS_WK_ACTUAL FLOAT

week1_salaries_fanduel PLAYER TEXT
week1_salaries_fanduel POS TEXT
week1_salaries_fanduel TEAM TEXT
week1_salaries_fanduel SALARY_FANDUEL TEXT
week1_salaries_fanduel WEEK TEXT

week2_ppr_projections PLAYER TEXT
week2_ppr_projections POS TEXT
week2_ppr_projections TEAM TEXT
week2_ppr_projections FPTS_PPR_ESPN FLOAT
week2_ppr_projections FPTS_PPR_CBS FLOAT
week2_ppr_projections FPTS_PPR_SHARKS FLOAT
week2_ppr_projections FPTS_PPR_SCOUT FLOAT
week2_ppr_projections FPTS_PPR_PRVS_WK_ACTUAL FLOAT

week2_ppr_projections_all_scraped PLAYER TEXT
week2_ppr_projections_all_scraped POS TEXT
week2_ppr_projections_all_scraped TEAM TEXT
week2_ppr_projections_all_scraped FPTS_PPR_ESPN FLOAT
week2_ppr_projections_all_scraped FPTS_PPR_CBS FLOAT
week2_ppr_projections_all_scraped FPTS_PPR_SHARKS FLOAT
week2_ppr_projections_all_scraped FPTS_PPR_SCOUT FLOAT
week2_ppr_projections_all_scraped FPTS_PPR_PRVS_WK_ACTUAL FLOAT

week2_salaries_fanduel PLAYER TEXT
week2_salaries_fanduel POS TEXT
week2_salaries_fanduel TEAM TEXT
week2_salaries_fanduel SALARY_FANDUEL BIGINT
week2_salaries_fanduel WEEK BIGINT

In [4]:
#write the statement as a traditional SQL query rather than use the SQL Alchemy nuances
stmt = """
        SELECT *
        FROM week1_ppr_projections
       """

df_week1_ppr_projections = pd.read_sql_query(stmt, db_fantasy_football_2018)
print(df_week1_ppr_projections.shape)
df_week1_ppr_projections.head()

(358, 8)

,PLAYER,POS,TEAM,FPTS_PPR_ESPN,FPTS_PPR_CBS,FPTS_PPR_SHARKS,FPTS_PPR_SCOUT,FPTS_PPR_PRVS_WK_ACTUAL
0,Alvin Kamara,RB,NO,22.2,19.0,19.1,34.0,0.0
1,David Johnson,RB,Ari,21.3,19.0,23.6,27.0,0.0
2,Todd Gurley,RB,LAR,21.2,23.0,19.3,28.5,0.0
3,Antonio Brown,WR,Pit,19.5,22.0,19.3,17.3,0.0
4,Tom Brady,QB,NE,19.4,20.0,27.4,23.3,0.0

In [ ]:
# ### EXAMPLE PANDAS READ SQL QUERY STATEMENT WRITTEN LIKE SQL CODE ###
# # just need to establish connection to database through whatever means required

# stmt = """
#     SELECT [STUDENT_ID]
#           ,[PERMNUM]
#           ,[FIRST_NAME]
#           ,[LAST_NAME]
#           ,[GENDER]
#           ,[Ethnicity]
#           ,[SCHOOL_NUMBER]
#           ,[SCHOOL_YEAR]
#           ,[GRADE_NAME]
#           ,[ENTER_DATE]
#           ,[ENTER_CODE]
#           ,[LEAVE_DATE]
#           ,[LEAVE_CODE]
#           ,[RETENTION_IND]
#           ,[ELL_Status]
#           ,[ReadingPB]
#           ,[MathPB]
#           ,[Sped]
#           FROM [dbo].[Demographic Grouping View_2018]"""

# df = pd.read_sql_query(stmt, conn)

In [ ]:
# ### EXAMPLE SNIPPETS FROM BELLY BUTTON FLASK APP HOMEWORK WEEK 15 HW - USE OF SQLALCHEMY ###

# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine

# from flask import Flask, jsonify, render_template
# from flask_sqlalchemy import SQLAlchemy

# app = Flask(__name__)


# #################################################
# # Database Setup
# #################################################

# app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/bellybutton.sqlite"
# db = SQLAlchemy(app)

# # reflect an existing database into a new model
# Base = automap_base()
# # reflect the tables
# Base.prepare(db.engine, reflect=True)

# # Save references to each table
# Samples_Metadata = Base.classes.sample_metadata
# Samples = Base.classes.samples

# #################################################
# # App Routes Below (not shown, just differnt sqlalchemy query info)
# #################################################

# # Use Pandas to perform the sql query
# stmt = db.session.query(Samples).statement
# df = pd.read_sql_query(stmt, db.session.bind)

# #write query with filters
# sel = [
#         Samples_Metadata.sample,
#         Samples_Metadata.ETHNICITY,
#         Samples_Metadata.GENDER,
#         Samples_Metadata.AGE,
#         Samples_Metadata.LOCATION,
#         Samples_Metadata.BBTYPE,
#         Samples_Metadata.WFREQ,
#     ]

# results = db.session.query(*sel).filter(Samples_Metadata.sample == sample).all()

In [ ]:
# ### EXAMPLE SNIPPETS FROM SLQALCHEMY HAWAII CLIMATE HOMEWORK WEEK 11 ###

# import pandas as pd
# import numpy as np
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine, inspect, func
# from sqlalchemy.ext.automap import automap_base
# from datetime import datetime, timedelta
# from matplotlib import style
# style.use('fivethirtyeight')
# import matplotlib.pyplot as plt


# engine = create_engine('sqlite:///raw_data/hawaii.sqlite')
# Base = automap_base()
# Base.prepare(engine, reflect=True)
# session = Session(bind=engine)
# inspector = inspect(engine)

# # Visual Schema - verify the database has the info we are expecting
# for table_name in inspector.get_table_names():
#     for column in inspector.get_columns(table_name):
#         print(table_name, column.get('name'), column.get('type'))
#     print()
    
# Measurement = Base.classes.hawaii_measurements
# Station = Base.classes.hawaii_stations